html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 1.6rem;
    color: white;
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.root {
    flex-direction: column;
    gap: 2.4rem;
    display: flex;
    max-width: 80rem;
    min-height: calc(100vh - 2rem);
    padding: 2rem 2rem 0;
    margin: 0 auto;

    @media (min-width: 768px) {
        min-height: calc(100vh - 6rem);
        padding: 6rem 3rem 0;
    }
}

.main-heading {
    font-size: 4.8rem;
    line-height: 6.4rem;

    @media (min-width: 768px) {
        font-size: 6.4rem;
        line-height: 7.2rem;
    }
}

.lead {
    font-size: 1.8rem;
    line-height: 2.4rem;

    @media (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

a {
    color: dodgerblue;

    &:hover {
        color: yellow;
    }
}